<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Spring Boot & Thymeleaf File Upload</title>
</head>
<style>
body, html, .container {
	height: 90%;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.button {
	padding: 10px;
	border-radius: 3px;
	border: 1px solid blue;
	color: blue;
	text-decoration: none;
	margin: 20px 20px 20px 0;
}

.button:hover {
	cursor: pointer;
}
</style>
<body>
	<div class="container">
		<div>
			<section>
				<div>
					<div>
						<div>
							<h2>Téléversement d'image du jeu</h2>
							<p th:text="${message}" th:if="${message ne null}"
								class="alert alert-primary"></p>
							<form method="post"
								th:action="@{/moderateur/jeu/{id}/uploadimage(id=${jeu.id})}"
								enctype="multipart/form-data">
								<div class="form-group">
									<input type="file" name="file">
								</div>
								<button class="button" type="submit">soumettre</button>
							</form>
						</div>
					</div>
				</div>
			</section>
		</div>
	</div>


</body>
</html>