<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Boot & Thymeleaf File Upload</title>
</head>
<body>

<section>
    <div >
        <div >
            <div >
                <p th:text="${message}" th:if="${message ne null}" class="alert alert-primary"></p>
                <form method="post" th:action="@{/moderateur/jeu/{id}/uploadimage(id=${jeu.id})}" enctype="multipart/form-data">
                    <div class="form-group">
                        <input type="file" name="file">
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

</body>
</html>