<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Liste des avis</title>

<style>
body, html, .container {
	height: 90%;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.button {
	padding: 10px;
	border-radius: 3px;
	border: 1px solid blue;
	color: blue;
	text-decoration: none;
	margin: 20px 20px 20px 0;
}

.placeholder {
	height: 250px;
	display: flex;
	justify-content: center;
	align-items: center;
}

a.disabled {
	pointer-events: none;
	color: grey;
}

.icon {
	margin-left: 20px;
	margin-right: 20px;
}
</style>
</head>
<body>
	<div class="container">

		<div>
			<h2>LISTE DES AVIS</h2>
			<div style="margin-bottom: 15px">
				<form method="post" action="#" th:action="@{'/joueur/avis/page/0/'}" th:object="${filterWrapper}">
					<label for="jeu-select-filter">Jeu:</label> <select
						id="jeu-select-filter" th:field=*{jeu_id}>
						<option value="" selected hidden>Filtrer par jeu</option>
						<option type="text" th:each="jeu : ${jeux}" th:value="${jeu.id}"
							th:text="${jeu.nom}">jeu</option>
					</select> <label for="pseudo-select-filter">Pseudo:</label> <select
						id="pseudo-select-filter" th:field=*{joueur_id}>
						<option value="" selected hidden>Filtrer par pseudo</option>
						<option type="text" th:each="joueur : ${joueurs}"
							th:value="${joueur.id}" th:text="${joueur.pseudo}">pseudo</option>
					</select> <label for="statut-select-filter">Statut:</label> <select
						id="statut-select-filter" th:field=*{moderated}>
						<option value="" selected hidden>Filtrer par statut</option>
						<option type="text" value="true">modéré</option>
						<option type="text" value="false">à modérer</option>
					</select> <input type="submit" value="Filtrer" />
				</form>
			</div>


			<div class="placeholder" th:if="${list_avis.size() == 0}">pas
				d'avis à afficher</div>
			<table border="true" style="border-collapse: collapse"
				th:if="${list_avis.size() != 0}">
				<thead>
					<th>Date d'envoi <a
						th:href="@{'/joueur/avis/page/0/' + '?sortField=dateEnvoi'+ '&sortDir=asc' + '&jeuFilter=' + ${jeuId} + '&joueurFilter=' + ${joueurId} + '&moderated=' + ${statutFilter}}"><img
							class="bouttons_navigation" th:src="@{/up-long-solid.svg}"
							alt="tri date ascendant" style="width: 10px"></a> <a
						th:href="@{'/joueur/avis/page/0/' + '?sortField=dateEnvoi'+ '&sortDir=desc' + '&jeuFilter=' + ${jeuId} + '&joueurFilter=' + ${joueurId} + '&moderated=' + ${statutFilter}}"><img
							class="bouttons_navigation" th:src="@{/down-long-solid.svg}"
							alt="tri date descendant" style="width: 10px"></a>
					</th>
					<th>Nom du Jeu <a
						th:href="@{'/joueur/avis/page/0/' + '?sortField=jeu.nom'+ '&sortDir=asc' + '&jeuFilter=' + ${jeuId} + '&joueurFilter=' + ${joueurId} + '&moderated=' + ${statutFilter}}"><img
							class="bouttons_navigation" th:src="@{/up-long-solid.svg}"
							alt="tri nom ascendant" style="width: 10px"></a> <a
						th:href="@{'/joueur/avis/page/0/' + '?sortField=jeu.nom'+ '&sortDir=desc' + '&jeuFilter=' + ${jeuId} + '&joueurFilter=' + ${joueurId} + '&moderated=' + ${statutFilter}}"><img
							class="bouttons_navigation" th:src="@{/down-long-solid.svg}"
							alt="tri nom descendant" style="width: 10px"></a>
					</th>
					<th>Pseudo du joueur <a
						th:href="@{'/joueur/avis/page/0/' + '?sortField=joueur.pseudo'+ '&sortDir=asc' + '&jeuFilter=' + ${jeuId} + '&joueurFilter=' + ${joueurId} + '&moderated=' + ${statutFilter}}"><img
							class="bouttons_navigation" th:src="@{/up-long-solid.svg}"
							alt="tri pseudo ascendant" style="width: 10px"></a> <a
						th:href="@{'/joueur/avis/page/0/' + '?sortField=joueur.pseudo'+ '&sortDir=desc' + '&jeuFilter=' + ${jeuId} + '&joueurFilter=' + ${joueurId} + '&moderated=' + ${statutFilter}}"><img
							class="bouttons_navigation" th:src="@{/down-long-solid.svg}"
							alt="tri pseudo descendant" style="width: 10px"></a>
					</th>
					<th>Note <a
						th:href="@{'/joueur/avis/page/0/' + '?sortField=note'+ '&sortDir=asc' + '&jeuFilter=' + ${jeuId} + '&joueurFilter=' + ${joueurId} + '&moderated=' + ${statutFilter}}"><img
							class="bouttons_navigation" th:src="@{/up-long-solid.svg}"
							alt="tri note ascendant" style="width: 10px"></a> <a
						th:href="@{'/joueur/avis/page/0/' + '?sortField=note'+ '&sortDir=desc' + '&jeuFilter=' + ${jeuId} + '&joueurFilter=' + ${joueurId} + '&moderated=' + ${statutFilter}}"><img
							class="bouttons_navigation" th:src="@{/down-long-solid.svg}"
							alt="tri note descendant" style="width: 10px"></a>
					</th>
					<th>Image</th>
					<th>Statut</th>
					<th>Opérations</th>
				</thead>
				<tbody>
					<tr th:each="avis: ${list_avis}">
						<td style="padding: 5px"><span
							th:text="${#temporals.format(avis.dateEnvoi, 'dd/MM/yyyy HH:mm')}" /></td>
						<td style="padding: 5px"><span th:text="${avis.nomJeu}" /></td>
						<td style="padding: 5px"><span th:text="${avis.pseudoJoueur}" /></td>
						<td style="padding: 5px"><span th:text="${avis.note}" /></td>
						<td style="padding: 5px"><img style="width: 100px"
							th:src="${avis.image}" /></td>
						<td style="padding: 5px" th:if="${avis.nomModerateur == null}">A
							modérer</td>
						<td style="padding: 5px" th:if="${avis.nomModerateur != null}">Modéré
							par <span th:text="${avis.nomModerateur}"></span>
						</td>
						<td style="padding: 5px"><a
							th:href="@{/joueur/avis/{id}(id=${avis.id})}">Voir</a></td>
					</tr>
				</tbody>
			</table>
			<div>
				<div style="display: flex">

					<a class="button" th:href="@{/joueur/avis/new}">Ajouter un avis</a>
					<a id="logoutButton" class="button" href="/logout" />Déconnexion</a>

				</div>



				<div style="margin-top: 15px">
					<div style="display: flex">
						<div>
							<a
								th:href="@{'/joueur/avis/page/0?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + '&jeuFilter=' + ${jeuId} + '&joueurFilter=' + ${joueurId} + '&moderated=' + ${statutFilter}}"><img
								class=" icon" th:src="@{/angles-left-solid.svg}"
								alt="icône début" style="width: 10px"></a>
						</div>
						<div>
							<a
								th:href="@{'/joueur/avis/page/{id}?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}  + '&jeuFilter=' + ${jeuId} + '&joueurFilter=' + ${joueurId} + '&moderated=' + ${statutFilter}(id=${id}-1)}"
								th:if="${id != 0 }"><img class=" icon"
								th:src="@{/angle-left-solid.svg}" alt="icône début"
								style="width: 10px"></a>
						</div>
						<div>
							<span th:text=${id+1}></span>
						</div>
						<div>
							<a
								th:href="@{'/joueur/avis/page/{id}?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}  + '&jeuFilter=' + ${jeuId} + '&joueurFilter=' + ${joueurId} + '&moderated=' + ${statutFilter}(id=${id}+1)}"
								th:if="${id!=totalPages-1}"><img class=" icon"
								th:src="@{/angle-right-solid.svg}" alt="icône début"
								style="width: 10px"></a>
						</div>
						<div>
							<a
								th:href="@{'/joueur/avis/page/'+ ${totalPages-1} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}  + '&jeuFilter=' + ${jeuId} + '&joueurFilter=' + ${joueurId} + '&moderated=' + ${statutFilter}}"
								th:if="${id!=totalPages-1}"><img class=" icon"
								th:src="@{/angles-right-solid.svg}" alt="icône début"
								style="width: 10px"></a>
						</div>
					</div>

				</div>

			</div>
		</div>

	</div>
	<script type="text/javascript" th:src="@{/js/avisListe.js}"></script>

</body>
</html>