<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Liste des avis</title>

<style>
body, html, .container {
	height: 90%;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.button {
	padding: 10px;
	border-radius: 3px;
	border: 1px solid blue;
	color: blue;
	text-decoration: none;
	margin: 20px;
}

.placeholder {
	height: 250px;
	display: flex;
	justify-content: center;
	align-items: center;
}

a.disabled {
	pointer-events: none;
	color: grey;
}

.icon {
	margin-left: 20px;
	margin-right: 20px;
}
</style>
</head>
<body>
	<div class="container">

		<div>
			<h2>LISTE DES AVIS</h2>


			<div class="placeholder" th:if="${list_avis.size() == 0}">pas
				d'avis à afficher</div>
			<table border="true" style="border-collapse: collapse"
				th:if="${list_avis.size() != 0}">
				<thead>
					<th>Date d'envoi</th>
					<th>Nom du Jeu</th>
					<th>Pseudo du joueur</th>
					<th>Note</th>
					<th>Image</th>
					<th>Statut</th>
					<th>Opérations</th>
				</thead>
				<tbody>
					<tr th:each="avis: ${list_avis}">
						<td style="padding: 5px"><span
							th:text="${#temporals.format(avis.dateEnvoi, 'dd/MM/yyyy HH:mm')}" /></td>
						<td style="padding: 5px"><span th:text="${avis.nomJeu}" /></td>
						<td style="padding: 5px"><span th:text="${avis.pseudoJoueur}" /></td>
						<td style="padding: 5px"><span th:text="${avis.note}" /></td>
						<td style="padding: 5px"><img style="width: 100px"
							th:src="${avis.image}" /></td>
						<td style="padding: 5px" th:if="${avis.nomModerateur == null}">A
							modérer</td>
						<td style="padding: 5px" th:if="${avis.nomModerateur != null}">Modéré
							par <span th:text="${avis.nomModerateur}"></span>
						</td>
						<td style="padding: 5px"><a
							th:href="@{/joueur/avis/{id}(id=${avis.id})}">Voir</a></td>
					</tr>
				</tbody>
			</table>
			<div>
				<div style="display: flex">

					<a class="button" th:href="@{/joueur/avis/new}">Ajouter un
						avis</a> <a class="button" href="/logout" />Déconnexion</a>

				</div>



				<div style="margin-top: 15px">
					<div style="display: flex">
						<div>
							<a th:href="@{/joueur/avis/page/0}"><img class=" icon"
								th:src="@{/angles-left-solid.svg}" alt="icône début"
								style="width: 10px"></a>
						</div>
						<div>
							<a th:href="@{/joueur/avis/page/{id}(id=${id}-1)}"
								th:if="${id != 0 }"><img class=" icon"
								th:src="@{/angle-left-solid.svg}" alt="icône début"
								style="width: 10px"></a>
						</div>
						<div>
							<span th:text=${id+1}></span>
						</div>
						<div>
							<a th:href="@{/joueur/avis/page/{id}(id=${id}+1)}"
								th:if="${id!=nombreDePages-1}"><img class=" icon"
								th:src="@{/angle-right-solid.svg}" alt="icône début"
								style="width: 10px"></a>
						</div>
						<div>
							<a th:href="@{/joueur/avis/page/{id}(id=${nombreDePages}-1)}"
								th:if="${id!=nombreDePages-1}"><img class=" icon"
								th:src="@{/angles-right-solid.svg}" alt="icône début"
								style="width: 10px"></a>
						</div>
					</div>

				</div>

			</div>
		</div>

	</div>









</body>
</html>