<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Liste des avis</title>
</head>
<body>

	<table border="true" style="border-collapse: collapse">
		<thead>
			<th>Date d'envoi</th>
			<th>Nom du Jeu</th>
			<th>Pseudo du joueur</th>
			<th>Note</th>
			<th>Image</th>
			<th>Statut</th>
			<th>Opérations</th>
		</thead>
		<tbody>
			<tr th:each="avis: ${list_avis}">
				<td style="padding: 5px"><span th:text="${avis.dateEnvoi}" /></td>
				<td style="padding: 5px"><span th:text="${avis.nomJeu}" /></td>
				<td style="padding: 5px"><span th:text="${avis.pseudoJoueur}" /></td>
				<td style="padding: 5px"><span th:text="${avis.note}" /></td>
				<td style="padding: 5px"><img style="width: 100px"
					th:src="${avis.image}" /></td>
				<td style="padding: 5px" th:switch="${avis.nomModerateur}">
					<p th:case="null">A modérer</p>
					<p th:case="!null">
						Modéré par <span th:text="${avis.nomModerateur}" />
					</p>
				</td>
				<td style="padding: 5px"><a href="#">Voir</a></td>
			</tr>
		</tbody>
	</table>

	<a href="#" style="margin-right: 300px">Ajouter un avis</a>
	<a href="#">Déconnexion</a>
</body>
</html>